<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="text-center my-4">Bookings</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nnb</th>
            <th scope="col">Message</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Durate</th>
          </tr>
        </thead>
        <tbody>
          <%i = 1%>
          <% @bookings.each do |booking| %>
            <tr>
              <th scope="row"><%=i%></th>
              <td><%= booking.message%></td>
              <td><%= booking.user.email%></td>
              <td>
                <% if booking.status == 0 %> 
                  Payé
                <% elsif booking.status == 1 %> 
                <% else %>
                  Non payé
                <% end %>
            <td>
                <% booking.start_at %>
            </td>
             <td>
                <% booking.duration %>
            </td>
            </tr>
            <%i = i + 1%>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>