<div class="container">
<div class="container text-center mb-5">
  <div class="row m-3">
    <div class="col-8">
      <%= image_tag("Photo_principal.png", class: "img-fluid half-width") %>
</div>
<div class="col-4 d-flex flex-column align-items-center justify-content-center">
    <h1 class="CuTitle_title__BbV07 h1">Gymbro your ultimate fitness companion !</h1>
    <button type="button" class="btn btn-dark m-4">Button</button>
    </div>
<div class="container text-center m-5">
  <div class="row ">
    <div class="col m-4 ">
    <i class="fa-solid fa-heart fa-beat fa-2xl" style="color: #000000;"></i>
    </div>
    <div class="col m-4">
      <i class="fa-solid fa-dumbbell fa-2xl" style="color: #000000;"></i>
    </div>
    <div class="col m-4">
      <i class="fa-solid fa-stopwatch-20 fa-2xl" style="color: #000000;"></i>
    </div>
        <div class="col m-4">
      <i class="fa-solid fa-qrcode fa-2xl" style="color: #000000;"></i>
    </div>
  </div>
</div>
<div class="row m-0">
    <div class="col-12">
      <%= image_tag("banner1.png", class: "img-fluid half-width") %>
<h1 class="CuTitle_title__BbV07 h1">Welcome to GymBro, your ultimate fitness companion for finding the perfect gym!</h1>
</div>
  </div>
</div>
<div class="footer">
</div>
