<div class="container">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<a class="navbar-brand" href="#">
      <img src="#" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row m-3">
    <div class="col">
      <%= image_tag("fit.jpg", class: "img-fluid half-width") %>
</div>
    <div class="col d-flex align-items-center m3">
    La location de salle de fitness est l'occasion parfaite de vous immerger dans un environnement dédié à votre santé et à votre bien-être. Notre espace de location, doté d'installations modernes et équipements de pointe, offre un cadre idéal pour vos entraînements.
Que vous soyez un professionnel de fitness en quête d'un lieu pour dispenser vos cours ou un particulier à la recherche d'un endroit pour pratiquer votre routine d'exercices, notre place de location de fit est là pour répondre à tous vos besoins.
    </div>

    <div class="container text-center">
  <div class="row m-5">
    <div class="col">
    La location de salle de fitness est l'occasion parfaite de vous immerger dans un environnement dédié à votre santé et à votre bien-être. Notre espace de location, doté d'installations modernes et équipements de pointe, offre un cadre idéal pour vos entraînements.
Que vous soyez un professionnel de fitness en quête d'un lieu pour dispenser vos cours ou un particulier à la recherche d'un endroit pour pratiquer votre routine d'exercices, notre place de location de fit est là pour répondre à tous vos besoins.</div>
    <div class="col d-flex align-items-center m3">
          <%= image_tag("fit.jpg", class: "img-fluid half-width") %>
    </div>
