<div id="<%= dom_id gym %>">
  <p>
    <strong>Title:</strong>
    <%= gym.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= gym.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gym.description %>
  </p>
</div>
